footer{
    background-color: #232F3E;
    color: #DDD;
}
.footer-social{
    display: flex;
    gap: 10px;
}
.icon-container{
    padding: 10px;
    padding-bottom: 6px;
    

}
.icon-container img{
    
    width: 40px;
}